.container{
  visibility: collapse !important;
z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -80px;
}


.container > img{
  visibility: collapse;
  position: fixed;
  z-index: 300 !important;
  right: 20px;
  object-fit: cover;
  top: 20px;
}

.menu{
  position: absolute;
  right: -300px;
  padding: 0 10px;
  z-index: 1;
  background: white;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  min-width: 250px;
  gap: 10px;
}

.menu > button{
  width: 100%;
}


.navItems{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
  margin-top: 4rem;
}

.navItems > a{
  text-decoration: none;
  color: black;
}


.menu > button{
  cursor: pointer;
  background: none;
  border: 2px solid var(--almost-black);
  height: 40px;
  color: var(--almost-black);
  border-radius: 15px;
  font-size:1rem;
  min-width: 100px;
}

.loginBtn{
  border: none !important;
}

.item{
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
  display: flex;
}

.dropdown{
  margin-top: 15px;
  display: flex;
  gap: 25px;
  margin-left: 15px;
  flex-direction: column;
}


.dropdownItem{
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes openNav {
  0%{
    right: -300px;
  }
    100%{
      right:0 ;
    }
  
  
  
  }


  @keyframes closeNav {
    0%{
      right: 0;
    }
      100%{
        right:-300px ;
      }
    
    }

  

.openAnim{
  animation: openNav .5s  forwards normal;
}

.close{
  animation: closeNav .5s forwards normal;
}


.menu > img{
  position: fixed;
  align-self: flex-end;
  top: 15px;
  right: 15px;
width: 20px;
height: 20px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}










@media (max-width:768px) {
  .container{
    visibility: visible !important;
  }

  .container > img{
    visibility: visible;
  }
}


